<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <runtime>
    <useLegacyV2RuntimeActivationPolicy enabled="true"/>
    <loadFromRemoteSources enabled="true"/>
    <NetFx40_LegacySecurityPolicy enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;lib"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="COMPLUS_UseLegacyJit" value="1"/>
    <add key="COMPLUS_Version" value="v4.0.30319"/>
    <add key="DOTNET_LEGACYJIT" value="1"/>
  </appSettings>
</configuration>